.create {
  @include hw(100%, clamp(46rem, 78vw, 70rem));
  position: fixed;
  background-color: white;
  z-index: 3;
  left: -70rem;
  padding: 1rem;
  transition: transform 0.8s ease;
  min-height: 100vh;
  overflow-y: auto;

  h3 {
    font-size: 0.8rem;
  }
  input,
  select {
    height: 3rem;
    font-size: 1.3rem;
  }

  select {
    @include noborderoutline;
    outline: 1px solid black;
    background-color: white;
  }
  @media (max-width: 852px) {
    width: clamp(320px, 94vw, 50rem);
    padding: 1vw;
  }

  &__triggered {
    transform: translateX(76rem);
    @media (max-width: 912px) {
      transform: translateX(70rem);
    }
  }

  &__input {
    @include flexContainer(column, initial, initial);
    width: 90%;
    overflow-y: scroll;
    overflow-x: auto;

    @media (max-width: 913px) {
    }
    &__streetfrom,
    &__clientname,
    &__clientemail,
    &__clientstreet {
      @include flexContainer(column, initial, initial);
      margin-bottom: 2rem;
      input {
        width: clamp(38rem, 66vw, 59rem);
        @media (max-width: 856px) {
          width: clamp(17rem, 70vw, 38rem);
        }
      }
    }
    &__detail {
      @include gridContainer(repeat(3, 1fr), initial, initial);
      @media (max-width: 852px) {
        grid-template-columns: repeat(auto-fit, 20rem);
      }
      &__child {
        @include flexContainer(column, initial, initial);
        @media (max-width: 852px) {
          margin-top: 2rem;
        }
        input {
          width: clamp(10rem, 21vw, 18rem);
          @media (max-width: 852px) {
            width: clamp(17rem, 2vw, 19rem);
          }
        }
      }
    }
    &__clientdetail {
      @extend .create__input__detail;
      margin-bottom: 2rem;
      &__child {
        @extend .create__input__detail__child;
      }
    }
    &__date {
      @include gridContainer(repeat(2, 1fr), 2rem, initial);
      margin-bottom: 2rem;
      @media (max-width: 852px) {
        grid-template-columns: repeat(auto-fit, 15rem);
      }
      &__invoicedate,
      &__paymentterm {
        @include flexContainer(column, initial, initial);
        input,
        select {
          width: clamp(16rem, 31vw, 29rem);
        }
        @media (max-width: 852px) {
          margin-top: 2rem;
        }
      }
    }
    &__description {
      @include flexContainer(column, initial, initial);
      input {
        width: clamp(38rem, 66vw, 59rem);
        @media (max-width: 856px) {
          width: clamp(17rem, 70vw, 38rem);
        }
      }
    }
    &__additem {
      font-weight: bolder;
      min-width: 4rem;
      cursor: pointer;
      @include paddingmargin(1rem 0, 0.8rem auto 0 auto);
      max-width: 881px;
      width: 90%;
      min-width: 254px;
      color: rgb(126, 136, 195);
      @include noborderoutline;
      border-radius: 2rem;
      transition: background-color 0.2s ease;
      &:hover {
        background-color: rgba(126, 136, 195, 0.3);
      }
    }
  }

  &__command {
    @include flexContainer(row, center, space-between);
    height: 22rem;
    @media (max-width: 530px) {
      @include flexContainer(column, center, center);
    }
    &__discard {
      @include noborderoutline;
      border-radius: 2rem;
      font-weight: bolder;
      color: rgb(126, 136, 195);
      background-color: rgba(126, 136, 195, 0.3);
      @include hw(3rem, 7rem);
      cursor: pointer;
    }
    &__save {
      @include flexContainer(row, center, initial);
      @media (max-width: 530px) {
        margin-top: 2rem;
      }
      button {
        @extend .create__command__discard;
        margin: 0 0 0 1rem;
        @include hw(3rem, 9rem);
        cursor: pointer;
      }
      &__draft {
        background-color: rgb(54, 59, 83) !important;
      }
      &__changes {
        background-color: rgb(124, 93, 250) !important;
        color: white !important;
      }
    }
  }

  &__itemlist {
    &__table {
      width: 100%;
      &__itemname {
        input {
          width: clamp(11rem, 28vw, 25rem);
        }
      }
      &__quantity {
        input {
          width: 5rem;
        }
      }
      &__price {
        input {
          width: 5rem;
        }
      }
      &__total {
        p {
          width: clamp(11rem, 15vw, 15rem);
        }
      }
      &__delete {
        img {
          width: 1.5rem;
          margin-right: clamp(0.3rem, 4vw, 2rem);
          cursor: pointer;
        }
      }
    }
  }
}
