.home {
  width: 768px;
  margin: 0 auto;
  &__title {
    width: clamp(300px, 90vw, 49rem);
    margin: 0 auto 3rem auto;
    @include flexContainer(row, center, space-between);
    @media (max-width: 558px) {
      @include flexContainer(column, flex-start, flex-start);
    }
    &__command {
      @include flexContainer(row, center, center);
      position: relative;
      @media (max-width: 558px) {
        width: 100%;
        @include flexContainer(row, center, space-between);
      }

      &__filter {
        @include flexContainer(row, center, initial);
      }
      &__status {
        @include flexContainer(row, center, initial);
        cursor: pointer;
        img {
          margin-left: 2rem;
        }
      }

      &__checkbox {
        position: absolute;
        top: 4rem;
        background-color: white;
        padding: 1rem;
        width: 13rem;
        right: 10rem;
        border-radius: 5px;
        box-shadow: -2px 1px 16px -2px rgba(0, 0, 0, 0.75);
        @media (max-width: 856px) {
          right: 8rem;
        }
        @media (max-width: 558px) {
          right: 0;
          left: 0;
        }
      }
      &__button {
        button {
          @include noborderoutline;
          @include hw(3.5rem, 9.5rem);
          cursor: pointer;
          background-color: rgb(124, 93, 250);
          margin-left: 2rem;
          color: white;
          border-radius: 2rem;

          @media (max-width: 856px) {
            @include flexContainer(row, center, initial);
            height: 3rem;
          }

          span {
            @include paddingmargin(0.6rem 0.8rem, 0 1rem 0 0);
            border-radius: 100%;
            background-color: white;
            color: rgb(124, 93, 250);
            @media (max-width: 856px) {
              padding: clamp(0.1rem, 5vw, 0.6rem) clamp(0.35rem, 5vw, 0.8rem);
            }
          }
        }
      }
    }
  }

  @media (max-width: 856px) {
    width: initial;
  }
}
