.list__link {
  &__button {
    @include hw(5rem, 48rem);
    @include noborderoutline();
    box-shadow: -2px 1px 16px -2px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    @include gridContainer(repeat(5, 1fr), initial, initial);
    align-items: center;
    background-color: white;
    border: 1px solid white;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: border 0.2s ease;
    &--status {
      width: 8rem;
      @include flexContainer(row, center, center);
      &-paid {
        background-color: rgba(51, 214, 159, 0.2);
        color: rgb(51, 214, 159);
      }
      &-pending {
        background-color: rgba(255, 143, 0, 0.2);
        color: rgb(255, 143, 0);
      }
      &-draft {
        color: rgb(55, 59, 83);
        background-color: #f3f3f5;
      }
      &--bullet {
        @include hw(0.5rem, 0.5rem);
        border-radius: 100%;
        margin-right: 0.5rem;
        &-paid {
          background-color: rgb(51, 214, 159);
        }
        &-pending {
          background-color: rgb(255, 143, 0);
        }
        &-draft {
          background-color: rgb(55, 59, 83);
        }
      }
    }
  }
  &__button:hover {
    border: 1px solid rgb(124, 93, 250);
  }

  @media (max-width: 856px) {
    &__button {
      @include hw(9rem, clamp(300px, 90vw, 48rem));
      margin: 0 auto 2rem auto;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      &--total,
      &--due,
      &--status {
        margin-top: 0;
      }
      &--header,
      &--client {
        margin-bottom: 0;
      }
      &--header {
        @include gridPosition(1, 1);
      }
      &--due {
        @include gridPosition(1, 2);
      }
      &--total {
        @include gridPosition(1, 3);
      }
      &--client {
        @include gridPosition(2, 1);
      }
      &--status {
        @include gridPosition(2, 2);
        width: 9rem;
        justify-self: center;
      }
    }
  }
}
