@import "@fontsource/spartan";
@import "./app";
@import "./mixin";
@import "./home";
@import "./list";
@import "./detail";
@import "./checkbox";
@import "./sidebar";
@import "./create";

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Spartan";
}

body {
  margin: 0;
  overflow-x: hidden;
}

a{
    text-decoration: none;
}


h1, h2, h3, h4, h5, h6{
  font-weight: bolder;
}